apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml

images:
- name: akiracry/log-output-reader
  newName: akiracry/log-output-reader
  newTag: 9ed6eb01c13f64088c96e8ee7936d0474bf9e25a
- name: akiracry/log-output-writer
  newName: akiracry/log-output-writer
  newTag: 9ed6eb01c13f64088c96e8ee7936d0474bf9e25a
