apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

images:
  - name: akiracry/log-output-writer
    newName: akiracry/log-output-writer
    newTag: latest
  - name: akiracry/log-output-reader
    newName: akiracry/log-output-reader
    newTag: latest

