apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: writer
          image: akiracry/log-output-writer:1.11
          volumeMounts:
            - name: shared-volume
              mountPath: /shared
        - name: reader
          image: akiracry/log-output-reader:2.1
          env:
            - name: PORT
              value: "3000"
            - name: PING_PONG_SERVICE
              value: "ping-pong"
            - name: PING_PONG_PORT
              value: "3000"
          volumeMounts:
            - name: shared-volume
              mountPath: /shared
      volumes:
        - name: shared-volume
          persistentVolumeClaim:
            claimName: shared-pvc
