apiVersion: v1
kind: Service
metadata:
  name: log-output
  namespace: exercises
spec:
  type: ClusterIP
  selector:
    app: log-output
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP

